@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.header{
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(hero.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    font-family: Sora, "sans-serif";
}


.navbar-brand{
    font-weight: 500;
}
.nav-link{
    text-transform: uppercase;
    font-weight: 500;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-bg {
    background-color: #f6f9fe;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }

  

  .counts {
  padding: 70px 0 60px;
}
.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #f1f6fe;
}
.counts .count-box i {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #106eea;
  color: #fff;
  width: 56px;
  height: 56px;
  line-height: 0;
  border-radius: 50px;
  border: 5px solid #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #062b5b;
}
.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}


.reduce{
    width: 9rem;
    height: 9rem;
}
  



